<p>Tired of scrolling endlessly, searching for your next favorite show?
    I take the guesswork out of your watchlist by matching you with the perfect series based on your interests.
    Whether you crave pulse-pounding thrillers, laugh-out-loud comedies, or hidden gems,
    I’ll find your next bingeworthy obsession.
    Let’s turn your screen time into the ultimate entertainment experience!”</p>

<!--two images displayed-->
<div class="image-container">
    <img src="~/img/HomeTheater2.jpeg" alt="home theater">
    <img src="img/MovieScreen.jpeg" alt="movie screen">
</div>
<!--two paragraphs describing my hobby-->
<br/>
<p>Every night, my husband and I love to wind down by watching a show together. 
    We grab some blankets, make a bowl of popcorn, and just relax after a long day. 
    It’s our little routine—something we look forward to, whether it’s an intense drama, a funny sitcom, or a mystery that keeps us guessing. 
    Watching an episode or two helps us unplug from everything else and just enjoy the moment.</p>

<p>For a little while, I get to forget about my to-do list and whatever stress the day brought. 
    I love getting invested in a good story, following characters through all their ups and downs, and reacting to unexpected twists. 
    It’s fun to share those moments and talk about what might happen next. 
    Watching shows isn’t just entertainment for me—it’s a way to relax, connect, and enjoy a little escape from the everyday.
</p>